.cardsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  flex-wrap: wrap;
}
.container {
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 420px;
  padding: 20px;
  color: white;
  border-radius: 14px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  transition: all 0.2s;
  border: 1px solid #e5e7eb3d;
  &:hover {
    transition: all 0.2s;
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.logo {
  padding: 10px;
  width: 36px;
  border-radius: 14px;
  height: 36px;
  background-color: #5760c2;
  border: solid 1px rgba(100, 100, 100, 0.2);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    border-radius: 14px;
    height: 100%;
    background-color: #4a55cee8;
    border: solid 1px rgba(100, 100, 100, 0.2);
    top: -10%;
    left: -10%;
    padding: 5px;
    z-index: -1;
    filter: blur(10px);
  }
}

.boxInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.title {
  font-size: 24px;
  font-weight: 700;
}
.text {
  font: 18px;
  line-height: 35px;
  font-weight: 300;
  opacity: 0.5;
}
