.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 20px 0;
}
.title {
  font-size: 28px;
  font-weight: 600;
}
.text {
  opacity: 0.5;
  font-weight: 500;
}
.containerCards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  gap: 30px;
}
.main{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.boxCard {
  background-color: rgba(255, 255, 255, 0.1);
  max-width: 420px;
  padding: 20px;
  border-radius: 14px;
  display: flex;
  gap: 15px;
  flex-direction: column;
  transition: all 0.2s;
  border: 1px solid #e5e7eb3d;
  cursor: pointer;
  &:hover {
    transition: all 0.2s;
    transform: scale(1.04);
    background-color: rgba(255, 255, 255, 0.2);
  }
}
.arrowActive {
  color: aqua;
}
.headerCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding: 10px;
  width: 28px;
  border-radius: 14px;
  height: 28px;
  background-color: #5760c2;
  border: solid 1px rgba(100, 100, 100, 0.2);
  display: flex;
  justify-content: center;
  align-self: center;
}
.titleCard {
  font-size: 24px;
  font-weight: 700;
}
.textCard {
  opacity: 0.7;
}
.titleProgress {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
  align-items: center;
}
.lineProgress {
  background: linear-gradient(90deg, #2c6ed1, #87b1ff);
}
