.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(20%);
  gap: 20px;
}
.banner {
  background-color: #122f58ab;
  border: 1px solid #22d3ee49;
  padding: 12px;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #22d3eeea;
  gap: 10px;
}
.bannerText {
  font-size: 14px;
}
.wellcomeBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
.titleGradient {
  font-size: 64px;
  background: linear-gradient(50deg, #87b1ff, #1b4799);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title {
  font-size: 58px;
  font-weight: 600;
  background: linear-gradient(65deg, white, rgb(212, 212, 212));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text {
  color: #8890a1;
  font-size: 18px;
  max-width: 600px;
  font-weight: 300;
}

.boxBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.activeBtn {
  padding: 20px 25px;
  background: linear-gradient(135deg, #78a7ff, #1b4799);
  border: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  transition: all 0.2s;
  cursor: pointer;

  &:hover {
    transition: all 0.2s;
    transform: scale(1.03);
  }
}
.activeBtn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #78a7ff, #1b4799);
  inset: 0;
  z-index: -1;
  padding: 1px;
  filter: blur(13px);
  border-radius: 8px;
}
.btn {
  cursor: pointer;
  padding: 20px 25px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid #e5e7eb3d;
  color: white;
  font-size: 18px;
  font-weight: 600;
  position: relative;
  border-radius: 8px;
  transition: all 0.2s;

  &:hover {
    transition: all 0.2s;
    background: rgba(255, 255, 255, 0.15);
  }
}
